<form ng-submit="create()">
    <p>Name:
        <select ng-model=customer>
            <option ng-repeat="customer in customers" value={{customer._id}}>{{customer.name}}</option>
        </select>
    </p>
    <p>Order:
        <select ng-change="prodQty(product)" ng-model="product" ng-options="product as product.name for product in products">
        </select>
        <select ng-model="product.qty">
            <option ng-repeat="i in quantity | range">{{i}}</option>
        </select>
        <!-- <select ng-options="product as product.qty for product in products" ng-model="product.qty">
        </select> -->
    </p>
    <input type="submit" value="submit">
</form>
<table>
    <tr>
        <th>Customer Name</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Date</th>
    </tr>
    <tr ng-repeat="order in orders">
        <td>{{order._customer.name}}</td>
        <td>{{order._products.name}}</td>
        <td>{{order.qty}}</td>
        <td>{{order.createdAt}}</td>
    </tr>
</table>
